@font-face {
	font-family: 'Baufra-Bold';
	font-display: swap;
	src: url("../fonts/Baufra-bold.eot");
	src: local("O"), url("../fonts/Baufra-bold.woff") format("woff"), 
			url("../fonts/Baufra-bold.ttf") format("truetype"), 
			url("../fonts/Baufra-bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baufra-Demibold';
	font-display: swap;
	src: url("../fonts/Baufra-Demibold.eot");
	src: local("O"), url("../fonts/Baufra-Demibold.woff") format("woff"), 
			url("../fonts/Baufra-Demibold.ttf") format("truetype"), 
			url("../fonts/Baufra-Demibold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baufra-Light';
	font-display: swap;
	src: url("../fonts/Baufra-light.eot");
	src: local("O"), url("../fonts/Baufra-light.woff") format("woff"), 
			url("../fonts/Baufra-light.ttf") format("truetype"), 
			url("../fonts/Baufra-light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baufra-Regular';
	font-display: swap;
	src: url("../fonts/Baufra-Regular.eot");
	src: local("O"), url("../fonts/Baufra-Regular.woff") format("woff"), 
			url("../fonts/Baufra-Regular.ttf") format("truetype"), 
			url("../fonts/Baufra-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baufra-Semibold';
	font-display: swap;
	src: url("../fonts/Baufra-Semibold.eot");
	src: local("O"), url("../fonts/Baufra-Semibold.woff") format("woff"), 
			url("../fonts/Baufra-Semibold.ttf") format("truetype"), 
			url("../fonts/Baufra-Semibold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baufra-Medium';
	font-display: swap;
	src: url("../fonts/Baufra-Medium.eot");
	src: local("O"), url("../fonts/Baufra-Medium.woff") format("woff"), 
			url("../fonts/Baufra-Medium.ttf") format("truetype"), 
			url("../fonts/Baufra-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
   font-family: "Abys";
   src: url("../fonts/abys.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}